---
import { getSortedProjects, type Project } from '@/services/content';
import ProjectCard from '../features/projects/ProjectCard.astro';
import Card from '../ui/Card.astro';

const projects = await getSortedProjects();
---

<Card class="projects" ariaLabelledby="projects-title">
    <h2 class="projects-title">Proyectos</h2>

    <div class="work-grid" role="list">
        {
            projects.map((project: Project) => (
                <div role="listitem">
                    <ProjectCard project={project} />
                </div>
            ))
        }
    </div>
</Card>

<style>
    @scope ( .projects ) {
        .work-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 1.5rem;
        }
    }
</style>
